In [1]:
with open('TimeML_zero_shot_gold_predicted_1706_corrected.txt', encoding='utf8') as infile:
    text = infile.read()
print(text[:1000])

140201304892672	A	<O>	A	<O>
140201304229056	Cyprus	<O>	Cyprus	<O>
140201304137408	exit	<EVENT>	exit	<O>
140201304230272	from	<O>	from	<O>
140201304135680	the	<O>	the	<O>
140201304889856	euro	<O>	euro	<O>
140201314008192	union	<O>	union	<O>
140201304135552	if	<O>	if	<O>
140201303972096	it	<O>	it	<O>
140201304228928	comes	<EVENT>	comes	<O>
140201304135424	to	<O>	to	<O>
140201306616000	that	<O>	that	<O>
140201304895936	would	<O>	would	<O>
140201313416000	have	<O>	have	<O>
140201304230592	a	<O>	a	<O>
140201304229696	devastating	<O>	devastating	<O>
140201304229760	effect	<EVENT>	effect	<O>
140201304229632	on	<O>	on	<O>
140201304229504	the	<O>	the	<O>
140201304228800	country	<O>	country	<O>
140201304145408	's	<O>	's	<O>
140201304142464	citizens	<O>	citizens	<O>
140201304145152	who	<O>	who	<O>
140201304145088	are	<O>	are	<O>
140201304144768	among	<O>	among	<O>
140201304145600	the	<O>	the	<O>
140201304145280	most	<O>	most	<O>
140201304144576	indebted	<EVENT>	indebted	<O>
140201304144896	in	<O>

In [2]:
text = text.split('\n')
print(len(text))
print(text[:10])

6685
['140201304892672\tA\t<O>\tA\t<O>', '140201304229056\tCyprus\t<O>\tCyprus\t<O>', '140201304137408\texit\t<EVENT>\texit\t<O>', '140201304230272\tfrom\t<O>\tfrom\t<O>', '140201304135680\tthe\t<O>\tthe\t<O>', '140201304889856\teuro\t<O>\teuro\t<O>', '140201314008192\tunion\t<O>\tunion\t<O>', '140201304135552\tif\t<O>\tif\t<O>', '140201303972096\tit\t<O>\tit\t<O>', '140201304228928\tcomes\t<EVENT>\tcomes\t<O>']

In [3]:
lines = []
for item in text:
    line = item.split()
    lines.append(line)
    
print(len(lines))
print(lines[:20])

6685
[['140201304892672', 'A', '<O>', 'A', '<O>'], ['140201304229056', 'Cyprus', '<O>', 'Cyprus', '<O>'], ['140201304137408', 'exit', '<EVENT>', 'exit', '<O>'], ['140201304230272', 'from', '<O>', 'from', '<O>'], ['140201304135680', 'the', '<O>', 'the', '<O>'], ['140201304889856', 'euro', '<O>', 'euro', '<O>'], ['140201314008192', 'union', '<O>', 'union', '<O>'], ['140201304135552', 'if', '<O>', 'if', '<O>'], ['140201303972096', 'it', '<O>', 'it', '<O>'], ['140201304228928', 'comes', '<EVENT>', 'comes', '<O>'], ['140201304135424', 'to', '<O>', 'to', '<O>'], ['140201306616000', 'that', '<O>', 'that', '<O>'], ['140201304895936', 'would', '<O>', 'would', '<O>'], ['140201313416000', 'have', '<O>', 'have', '<O>'], ['140201304230592', 'a', '<O>', 'a', '<O>'], ['140201304229696', 'devastating', '<O>', 'devastating', '<O>'], ['140201304229760', 'effect', '<EVENT>', 'effect', '<O>'], ['140201304229632', 'on', '<O>', 'on', '<O>'], ['140201304229504', 'the', '<O>', 'the', '<O>'], ['140201304228800', 'country', '<O>', 'country', '<O>']]

In [4]:
lines_O = []
for line in lines:
    if len(line) ==5 and line[4] == 'O':
        lines_O.append(line)
    lines_O
    
print(lines_O)
print(len(lines_O))

[['140201304335808', '48', '<O>', '48', 'O'], ['140201304335680', 'of', '<O>', 'of', 'O'], ['140201304335552', 'Massapequa', '<O>', 'Massapequa', 'O'], ['140201304335936', 'New', '<O>', 'New', 'O'], ['140201304336000', 'York', '<O>', 'York', 'O'], ['140201304336256', 'in', '<O>', 'in', 'O'], ['140201304336320', 'the', '<O>', 'the', 'O'], ['140201304336384', 'waters', '<O>', 'waters', 'O'], ['140201304336448', 'off', '<O>', 'off', 'O'], ['140201304336512', 'Jones', '<O>', 'Jones', 'O'], ['140201304336576', 'Beach', '<O>', 'Beach', 'O'], ['140201304336640', 'late', '<O>', 'late', 'O'], ['140201304336704', 'last', '<O>', 'last', 'O'], ['140201304336768', 'July', '<O>', 'July', 'O'], ['140201304336896', 'his', '<O>', 'his', 'O'], ['140201304336960', '22-year-old', '<O>', '22-year-old', 'O']]
16

In [5]:
lines_EVENT = []
for line in lines:
    if len(line) ==5 and line[4] == 'EVENT':
        lines_EVENT.append(line)
    lines_EVENT
    
print(len(lines_EVENT))
print(lines_EVENT[:20])

128
[['140201304335744', 'Raymond', '<O>', 'Raymond', 'EVENT'], ['140201304333696', 'Roth', '<O>', 'Roth', 'EVENT'], ['140201304336064', 'was', '<O>', 'was', 'EVENT'], ['140201304336128', 'first', '<O>', 'first', 'EVENT'], ['140201304335616', 'reported', '<EVENT>', 'reported', 'EVENT'], ['140201304336192', 'missing', '<EVENT>', 'missing', 'EVENT'], ['140201304336832', 'by', '<O>', 'by', 'EVENT'], ['140201304337024', 'son', '<O>', 'son', 'EVENT'], ['140201304337088', 'Jonathan', '<O>', 'Jonathan', 'EVENT'], ['140201304337152', 'Roth', '<O>', 'Roth', 'EVENT'], ['140201304398720', 'It', '<O>', 'It', 'EVENT'], ['140201304397760', 'had', '<EVENT>', 'had', 'EVENT'], ['140201304398784', 'a', '<O>', 'a', 'EVENT'], ['140201304398656', 'multiplying', '<O>', 'multiplying', 'EVENT'], ['140201304398528', 'effect', '<O>', 'effect', 'EVENT'], ['140201304482880', 'This', '<O>', 'This', 'EVENT'], ['140201304481728', 'flu', '<EVENT>', 'flu', 'EVENT'], ['140201304482944', 'season', '<EVENT>', 'season', 'EVENT'], ['140201304482816', 'started', '<O>', 'started', 'EVENT'], ['140201304482688', 'in', '<O>', 'in', 'EVENT']]

In [6]:
new_lines = []
for line in lines_O:
    if len(line) ==5 and 'O' in line[4]:# Tags such as <O>. or O appear occassionally
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:# Tags such as <EVENT>. or EVENT appear occassionally
        line[4] = '<EVENT>'
    new_lines.append(line)
        
print(len(new_lines))
print(new_lines)

16
[['140201304335808', '48', '<O>', '48', '<O>'], ['140201304335680', 'of', '<O>', 'of', '<O>'], ['140201304335552', 'Massapequa', '<O>', 'Massapequa', '<O>'], ['140201304335936', 'New', '<O>', 'New', '<O>'], ['140201304336000', 'York', '<O>', 'York', '<O>'], ['140201304336256', 'in', '<O>', 'in', '<O>'], ['140201304336320', 'the', '<O>', 'the', '<O>'], ['140201304336384', 'waters', '<O>', 'waters', '<O>'], ['140201304336448', 'off', '<O>', 'off', '<O>'], ['140201304336512', 'Jones', '<O>', 'Jones', '<O>'], ['140201304336576', 'Beach', '<O>', 'Beach', '<O>'], ['140201304336640', 'late', '<O>', 'late', '<O>'], ['140201304336704', 'last', '<O>', 'last', '<O>'], ['140201304336768', 'July', '<O>', 'July', '<O>'], ['140201304336896', 'his', '<O>', 'his', '<O>'], ['140201304336960', '22-year-old', '<O>', '22-year-old', '<O>']]

In [7]:
new_lines = []
for line in lines_EVENT:
    if len(line) ==5 and 'O' in line[4]:
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:
        line[4] = '<EVENT>'
    new_lines.append(line)

print(len(new_lines))
print(new_lines[:20])

128
[['140201304335744', 'Raymond', '<O>', 'Raymond', '<EVENT>'], ['140201304333696', 'Roth', '<O>', 'Roth', '<EVENT>'], ['140201304336064', 'was', '<O>', 'was', '<EVENT>'], ['140201304336128', 'first', '<O>', 'first', '<EVENT>'], ['140201304335616', 'reported', '<EVENT>', 'reported', '<EVENT>'], ['140201304336192', 'missing', '<EVENT>', 'missing', '<EVENT>'], ['140201304336832', 'by', '<O>', 'by', '<EVENT>'], ['140201304337024', 'son', '<O>', 'son', '<EVENT>'], ['140201304337088', 'Jonathan', '<O>', 'Jonathan', '<EVENT>'], ['140201304337152', 'Roth', '<O>', 'Roth', '<EVENT>'], ['140201304398720', 'It', '<O>', 'It', '<EVENT>'], ['140201304397760', 'had', '<EVENT>', 'had', '<EVENT>'], ['140201304398784', 'a', '<O>', 'a', '<EVENT>'], ['140201304398656', 'multiplying', '<O>', 'multiplying', '<EVENT>'], ['140201304398528', 'effect', '<O>', 'effect', '<EVENT>'], ['140201304482880', 'This', '<O>', 'This', '<EVENT>'], ['140201304481728', 'flu', '<EVENT>', 'flu', '<EVENT>'], ['140201304482944', 'season', '<EVENT>', 'season', '<EVENT>'], ['140201304482816', 'started', '<O>', 'started', '<EVENT>'], ['140201304482688', 'in', '<O>', 'in', '<EVENT>']]

In [8]:
lines_O = []
for line in lines:
    if len(line) ==5 and line[4] == 'O':
        lines_O.append(line)
    lines_O

print(len(lines_O))   
print(lines_O)

0
[]

In [9]:
lines_EVENT = []
for line in lines:
    if len(line) ==5 and line[4] == 'EVENT':
        lines_EVENT.append(line)
    lines_EVENT

print(len(lines_EVENT))
print(lines_EVENT)

0
[]

In [10]:
adjusted_lines = []
for line in lines:
    if len(line) ==5 and 'O' in line[4]:
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:
        line[4] = '<EVENT>'
    else:
        line
    adjusted_lines.append(line)

print(len(adjusted_lines))
print(adjusted_lines[:20])

6685
[['140201304892672', 'A', '<O>', 'A', '<O>'], ['140201304229056', 'Cyprus', '<O>', 'Cyprus', '<O>'], ['140201304137408', 'exit', '<EVENT>', 'exit', '<O>'], ['140201304230272', 'from', '<O>', 'from', '<O>'], ['140201304135680', 'the', '<O>', 'the', '<O>'], ['140201304889856', 'euro', '<O>', 'euro', '<O>'], ['140201314008192', 'union', '<O>', 'union', '<O>'], ['140201304135552', 'if', '<O>', 'if', '<O>'], ['140201303972096', 'it', '<O>', 'it', '<O>'], ['140201304228928', 'comes', '<EVENT>', 'comes', '<O>'], ['140201304135424', 'to', '<O>', 'to', '<O>'], ['140201306616000', 'that', '<O>', 'that', '<O>'], ['140201304895936', 'would', '<O>', 'would', '<O>'], ['140201313416000', 'have', '<O>', 'have', '<O>'], ['140201304230592', 'a', '<O>', 'a', '<O>'], ['140201304229696', 'devastating', '<O>', 'devastating', '<O>'], ['140201304229760', 'effect', '<EVENT>', 'effect', '<O>'], ['140201304229632', 'on', '<O>', 'on', '<O>'], ['140201304229504', 'the', '<O>', 'the', '<O>'], ['140201304228800', 'country', '<O>', 'country', '<O>']]

In [11]:
replaced_lines = []
for line in adjusted_lines:
    line = '\t'.join(line)
    replaced_lines.append(line)

print(len(replaced_lines))
print(replaced_lines[:20])

6685
['140201304892672\tA\t<O>\tA\t<O>', '140201304229056\tCyprus\t<O>\tCyprus\t<O>', '140201304137408\texit\t<EVENT>\texit\t<O>', '140201304230272\tfrom\t<O>\tfrom\t<O>', '140201304135680\tthe\t<O>\tthe\t<O>', '140201304889856\teuro\t<O>\teuro\t<O>', '140201314008192\tunion\t<O>\tunion\t<O>', '140201304135552\tif\t<O>\tif\t<O>', '140201303972096\tit\t<O>\tit\t<O>', '140201304228928\tcomes\t<EVENT>\tcomes\t<O>', '140201304135424\tto\t<O>\tto\t<O>', '140201306616000\tthat\t<O>\tthat\t<O>', '140201304895936\twould\t<O>\twould\t<O>', '140201313416000\thave\t<O>\thave\t<O>', '140201304230592\ta\t<O>\ta\t<O>', '140201304229696\tdevastating\t<O>\tdevastating\t<O>', '140201304229760\teffect\t<EVENT>\teffect\t<O>', '140201304229632\ton\t<O>\ton\t<O>', '140201304229504\tthe\t<O>\tthe\t<O>', '140201304228800\tcountry\t<O>\tcountry\t<O>']

In [12]:
new_text = '\n'.join(replaced_lines)

print(new_text[:2000])

140201304892672	A	<O>	A	<O>
140201304229056	Cyprus	<O>	Cyprus	<O>
140201304137408	exit	<EVENT>	exit	<O>
140201304230272	from	<O>	from	<O>
140201304135680	the	<O>	the	<O>
140201304889856	euro	<O>	euro	<O>
140201314008192	union	<O>	union	<O>
140201304135552	if	<O>	if	<O>
140201303972096	it	<O>	it	<O>
140201304228928	comes	<EVENT>	comes	<O>
140201304135424	to	<O>	to	<O>
140201306616000	that	<O>	that	<O>
140201304895936	would	<O>	would	<O>
140201313416000	have	<O>	have	<O>
140201304230592	a	<O>	a	<O>
140201304229696	devastating	<O>	devastating	<O>
140201304229760	effect	<EVENT>	effect	<O>
140201304229632	on	<O>	on	<O>
140201304229504	the	<O>	the	<O>
140201304228800	country	<O>	country	<O>
140201304145408	's	<O>	's	<O>
140201304142464	citizens	<O>	citizens	<O>
140201304145152	who	<O>	who	<O>
140201304145088	are	<O>	are	<O>
140201304144768	among	<O>	among	<O>
140201304145600	the	<O>	the	<O>
140201304145280	most	<O>	most	<O>
140201304144576	indebted	<EVENT>	indebted	<O>
140201304144896	in	<O>	in	<O>
140201304144320	the	<O>	the	<O>
140201304144704	euro	<O>	euro	<O>
140201304144960	zone	<O>	zone	<O>

140201304139072	And	<O>	And	<EVENT>
140201304231872	for	<O>	for	<O>
140201304143872	European	<O>	European	<O>
140201304143552	unity	<O>	unity	<O>
140201304143936	and	<O>	and	<O>
140201304142016	diplomacy	<O>	diplomacy	<O>
140201304139008	the	<O>	the	<O>
140201304141824	Cyprus	<O>	Cyprus	<O>
140201304141568	debacle	<EVENT>	debacle	<EVENT>
140201304137984	has	<O>	has	<O>
140201304140992	already	<O>	already	<O>
140201304137728	been	<O>	been	<O>
140201304896128	at	<O>	at	<O>
140201310023552	least	<O>	least	<O>
140201310023296	a	<O>	a	<O>
140201308033344	short-term	<O>	short-term	<O>
140201304137600	disaster	<EVENT>	disaster	<EVENT>

140201304137920	ut	<O>	ut	<O>
140201304144448	for	<O>	for	<O>
140201304143616	the	<O>	the	<O>
140201304143488	broader	<O>	broader	<O>
140201304144512	financial	<O>	financial	<O>
140201304142656	system	<O>	system	<O>
140201304896256	in	<O>	in	<O>
14020131

In [15]:
with open('TimeML_zero_shot_gold_predicted_1806_corrected.txt', 'w', encoding='utf8') as outfile:
        outfile.write(new_text)

In [16]:
with open('TimeML_zero_shot_gold_predicted_1806_corrected.txt', encoding='utf8') as infile:
    text = infile.read()

In [17]:
print(text[:2000])

140201304892672	A	<O>	A	<O>
140201304229056	Cyprus	<O>	Cyprus	<O>
140201304137408	exit	<EVENT>	exit	<O>
140201304230272	from	<O>	from	<O>
140201304135680	the	<O>	the	<O>
140201304889856	euro	<O>	euro	<O>
140201314008192	union	<O>	union	<O>
140201304135552	if	<O>	if	<O>
140201303972096	it	<O>	it	<O>
140201304228928	comes	<EVENT>	comes	<O>
140201304135424	to	<O>	to	<O>
140201306616000	that	<O>	that	<O>
140201304895936	would	<O>	would	<O>
140201313416000	have	<O>	have	<O>
140201304230592	a	<O>	a	<O>
140201304229696	devastating	<O>	devastating	<O>
140201304229760	effect	<EVENT>	effect	<O>
140201304229632	on	<O>	on	<O>
140201304229504	the	<O>	the	<O>
140201304228800	country	<O>	country	<O>
140201304145408	's	<O>	's	<O>
140201304142464	citizens	<O>	citizens	<O>
140201304145152	who	<O>	who	<O>
140201304145088	are	<O>	are	<O>
140201304144768	among	<O>	among	<O>
140201304145600	the	<O>	the	<O>
140201304145280	most	<O>	most	<O>
140201304144576	indebted	<EVENT>	indebted	<O>
140201304144896	in	<O>	in	<O>
140201304144320	the	<O>	the	<O>
140201304144704	euro	<O>	euro	<O>
140201304144960	zone	<O>	zone	<O>

140201304139072	And	<O>	And	<EVENT>
140201304231872	for	<O>	for	<O>
140201304143872	European	<O>	European	<O>
140201304143552	unity	<O>	unity	<O>
140201304143936	and	<O>	and	<O>
140201304142016	diplomacy	<O>	diplomacy	<O>
140201304139008	the	<O>	the	<O>
140201304141824	Cyprus	<O>	Cyprus	<O>
140201304141568	debacle	<EVENT>	debacle	<EVENT>
140201304137984	has	<O>	has	<O>
140201304140992	already	<O>	already	<O>
140201304137728	been	<O>	been	<O>
140201304896128	at	<O>	at	<O>
140201310023552	least	<O>	least	<O>
140201310023296	a	<O>	a	<O>
140201308033344	short-term	<O>	short-term	<O>
140201304137600	disaster	<EVENT>	disaster	<EVENT>

140201304137920	ut	<O>	ut	<O>
140201304144448	for	<O>	for	<O>
140201304143616	the	<O>	the	<O>
140201304143488	broader	<O>	broader	<O>
140201304144512	financial	<O>	financial	<O>
140201304142656	system	<O>	system	<O>
140201304896256	in	<O>	in	<O>
14020131

In [18]:
text = text.split('\n')
print(len(text))
print(text[:10])

6685
['140201304892672\tA\t<O>\tA\t<O>', '140201304229056\tCyprus\t<O>\tCyprus\t<O>', '140201304137408\texit\t<EVENT>\texit\t<O>', '140201304230272\tfrom\t<O>\tfrom\t<O>', '140201304135680\tthe\t<O>\tthe\t<O>', '140201304889856\teuro\t<O>\teuro\t<O>', '140201314008192\tunion\t<O>\tunion\t<O>', '140201304135552\tif\t<O>\tif\t<O>', '140201303972096\tit\t<O>\tit\t<O>', '140201304228928\tcomes\t<EVENT>\tcomes\t<O>']

In [19]:
ids = []
tokens = []
gold_labels = []
predicted_labels = []

In [20]:
line_items = []
for line in text:
    items = line.split()
    line_items.append(items)

print(len(line_items))
print(line_items[:20])

6685
[['140201304892672', 'A', '<O>', 'A', '<O>'], ['140201304229056', 'Cyprus', '<O>', 'Cyprus', '<O>'], ['140201304137408', 'exit', '<EVENT>', 'exit', '<O>'], ['140201304230272', 'from', '<O>', 'from', '<O>'], ['140201304135680', 'the', '<O>', 'the', '<O>'], ['140201304889856', 'euro', '<O>', 'euro', '<O>'], ['140201314008192', 'union', '<O>', 'union', '<O>'], ['140201304135552', 'if', '<O>', 'if', '<O>'], ['140201303972096', 'it', '<O>', 'it', '<O>'], ['140201304228928', 'comes', '<EVENT>', 'comes', '<O>'], ['140201304135424', 'to', '<O>', 'to', '<O>'], ['140201306616000', 'that', '<O>', 'that', '<O>'], ['140201304895936', 'would', '<O>', 'would', '<O>'], ['140201313416000', 'have', '<O>', 'have', '<O>'], ['140201304230592', 'a', '<O>', 'a', '<O>'], ['140201304229696', 'devastating', '<O>', 'devastating', '<O>'], ['140201304229760', 'effect', '<EVENT>', 'effect', '<O>'], ['140201304229632', 'on', '<O>', 'on', '<O>'], ['140201304229504', 'the', '<O>', 'the', '<O>'], ['140201304228800', 'country', '<O>', 'country', '<O>']]

In [21]:
print(line_items[0])

['140201304892672', 'A', '<O>', 'A', '<O>']

In [22]:
for line in line_items:
    if len(line) ==5:
        ids.append(line[0])
        tokens.append(line[1])
        gold_labels.append(line[2])
        predicted_labels.append(line[4])

In [23]:
print(len(ids))
print(len(tokens))
print(len(gold_labels))
print(len(predicted_labels))

6409
6409
6409
6409

In [24]:
print(ids[:20])
print(tokens[:20])
print(gold_labels[:20])
print(predicted_labels[:20])

['140201304892672', '140201304229056', '140201304137408', '140201304230272', '140201304135680', '140201304889856', '140201314008192', '140201304135552', '140201303972096', '140201304228928', '140201304135424', '140201306616000', '140201304895936', '140201313416000', '140201304230592', '140201304229696', '140201304229760', '140201304229632', '140201304229504', '140201304228800']
['A', 'Cyprus', 'exit', 'from', 'the', 'euro', 'union', 'if', 'it', 'comes', 'to', 'that', 'would', 'have', 'a', 'devastating', 'effect', 'on', 'the', 'country']
['<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>']
['<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>']

In [25]:
import pandas as pd

In [26]:
df_gold = pd.DataFrame({
    "id": ids,
    "token": tokens,
    "gold_label": gold_labels
})
df_gold

                   id   token gold_label
0     140201304892672       A        <O>
1     140201304229056  Cyprus        <O>
2     140201304137408    exit    <EVENT>
3     140201304230272    from        <O>
4     140201304135680     the        <O>
...               ...     ...        ...
6404  140201304704640   agent        <O>
6405  140201304704704       '        <O>
6406  140201304704768      ''        <O>
6407  140201304704832      he        <O>
6408  140201304704896    said    <EVENT>

[6409 rows x 3 columns]

In [27]:
df_predicted = pd.DataFrame({
    "id": ids,
    "token": tokens,
    "predicted_label": predicted_labels
})
df_predicted

                   id   token predicted_label
0     140201304892672       A             <O>
1     140201304229056  Cyprus             <O>
2     140201304137408    exit             <O>
3     140201304230272    from             <O>
4     140201304135680     the             <O>
...               ...     ...             ...
6404  140201304704640   agent             <O>
6405  140201304704704       '             <O>
6406  140201304704768      ''             <O>
6407  140201304704832      he             <O>
6408  140201304704896    said             <O>

[6409 rows x 3 columns]

In [28]:
df_gold.to_csv('TimeML_zero_shot_gold_equal_length_without_commas_fullstops.csv')

In [29]:
df_predicted.to_csv('TimeML_zero_shot_predicted_equal_length_without_commas_fullstops.csv')

In [30]:
df=pd.read_csv('TimeML_zero_shot_gold_equal_length_without_commas_fullstops.csv')
df

      Unnamed: 0               id   token gold_label
0              0  140201304892672       A        <O>
1              1  140201304229056  Cyprus        <O>
2              2  140201304137408    exit    <EVENT>
3              3  140201304230272    from        <O>
4              4  140201304135680     the        <O>
...          ...              ...     ...        ...
6404        6404  140201304704640   agent        <O>
6405        6405  140201304704704       '        <O>
6406        6406  140201304704768      ''        <O>
6407        6407  140201304704832      he        <O>
6408        6408  140201304704896    said    <EVENT>

[6409 rows x 4 columns]

In [31]:
df2=pd.read_csv('TimeML_zero_shot_predicted_equal_length_without_commas_fullstops.csv')
df2

      Unnamed: 0               id   token predicted_label
0              0  140201304892672       A             <O>
1              1  140201304229056  Cyprus             <O>
2              2  140201304137408    exit             <O>
3              3  140201304230272    from             <O>
4              4  140201304135680     the             <O>
...          ...              ...     ...             ...
6404        6404  140201304704640   agent             <O>
6405        6405  140201304704704       '             <O>
6406        6406  140201304704768      ''             <O>
6407        6407  140201304704832      he             <O>
6408        6408  140201304704896    said             <O>

[6409 rows x 4 columns]

In [32]:
df.head(40)

    Unnamed: 0               id        token gold_label
0            0  140201304892672            A        <O>
1            1  140201304229056       Cyprus        <O>
2            2  140201304137408         exit    <EVENT>
3            3  140201304230272         from        <O>
4            4  140201304135680          the        <O>
5            5  140201304889856         euro        <O>
6            6  140201314008192        union        <O>
7            7  140201304135552           if        <O>
8            8  140201303972096           it        <O>
9            9  140201304228928        comes    <EVENT>
10          10  140201304135424           to        <O>
11          11  140201306616000         that        <O>
12          12  140201304895936        would        <O>
13          13  140201313416000         have        <O>
14          14  140201304230592            a        <O>
15          15  140201304229696  devastating        <O>
16          16  140201304229760       effect    <EVENT>
17          17  140201304229632           on        <O>
18          18  140201304229504          the        <O>
19          19  140201304228800      country        <O>
20          20  140201304145408           's        <O>
21          21  140201304142464     citizens        <O>
22          22  140201304145152          who        <O>
23          23  140201304145088          are        <O>
24          24  140201304144768        among        <O>
25          25  140201304145600          the        <O>
26          26  140201304145280         most        <O>
27          27  140201304144576     indebted    <EVENT>
28          28  140201304144896           in        <O>
29          29  140201304144320          the        <O>
30          30  140201304144704         euro        <O>
31          31  140201304144960         zone        <O>
32          32  140201304139072          And        <O>
33          33  140201304231872          for        <O>
34          34  140201304143872     European        <O>
35          35  140201304143552        unity        <O>
36          36  140201304143936          and        <O>
37          37  140201304142016    diplomacy        <O>
38          38  140201304139008          the        <O>
39          39  140201304141824       Cyprus        <O>

In [33]:
df2.head(40)

    Unnamed: 0               id        token predicted_label
0            0  140201304892672            A             <O>
1            1  140201304229056       Cyprus             <O>
2            2  140201304137408         exit             <O>
3            3  140201304230272         from             <O>
4            4  140201304135680          the             <O>
5            5  140201304889856         euro             <O>
6            6  140201314008192        union             <O>
7            7  140201304135552           if             <O>
8            8  140201303972096           it             <O>
9            9  140201304228928        comes             <O>
10          10  140201304135424           to             <O>
11          11  140201306616000         that             <O>
12          12  140201304895936        would             <O>
13          13  140201313416000         have             <O>
14          14  140201304230592            a             <O>
15          15  140201304229696  devastating             <O>
16          16  140201304229760       effect             <O>
17          17  140201304229632           on             <O>
18          18  140201304229504          the             <O>
19          19  140201304228800      country             <O>
20          20  140201304145408           's             <O>
21          21  140201304142464     citizens             <O>
22          22  140201304145152          who             <O>
23          23  140201304145088          are             <O>
24          24  140201304144768        among             <O>
25          25  140201304145600          the             <O>
26          26  140201304145280         most             <O>
27          27  140201304144576     indebted             <O>
28          28  140201304144896           in             <O>
29          29  140201304144320          the             <O>
30          30  140201304144704         euro             <O>
31          31  140201304144960         zone             <O>
32          32  140201304139072          And         <EVENT>
33          33  140201304231872          for             <O>
34          34  140201304143872     European             <O>
35          35  140201304143552        unity             <O>
36          36  140201304143936          and             <O>
37          37  140201304142016    diplomacy             <O>
38          38  140201304139008          the             <O>
39          39  140201304141824       Cyprus             <O>