In [1]:
with open('MNT_zero_shot_gold_predicted_1706_corrected.txt', encoding='utf8') as infile:
    text = infile.read()
print(text[:1000])

139661077321344	Northrop	<O>	Northrop	<O>
139661077320704	Grumman	<O>	Grumman	<O>
139661077320960	and	<O>	and	<O>
139661079156672	Airbus	<O>	Airbus	<O>
139661086389312	parent	<O>	parent	<O>
139661079156352	EADS	<O>	EADS	<O>
139661077323840	defeat	<EVENT>	defeat	<O>
139661086260992	Boeing	<O>	Boeing	<O>
139661078350080	for	<O>	for	<O>
139661084618880	$	<O>	$	<O>
139661090883520	40	<O>	40	<O>
139661077323776	billion	<O>	billion	<O>
139661077321920	US	<O>	US	<O>
139661079156288	airtanker	<O>	airtanker	<O>
139661079156480	contract	<O>	contract	<O>

139661077323968	March	<O>	March	<O>
139662607769152	01	<O>	01	<O>
139661077323520	2008	<O>	2008	<O>

139661077323072	Northrop	<O>	Northrop	<O>
139661085075584	Grumman	<O>	Grumman	<O>
139661077322432	and	<O>	and	<O>
139661077322112	Airbus	<O>	Airbus	<O>
139661110548480	parent	<O>	parent	<O>
139661077321088	company	<O>	company	<O>
139661077321408	European	<O>	European	<O>
139661077320256	Aeronautic	<O>	Aeronautic	<O>
139661077320576	Defence	<O>	De

In [2]:
text = text.split('\n')
print(len(text))
print(text[:10])

25090
['139661077321344\tNorthrop\t<O>\tNorthrop\t<O>', '139661077320704\tGrumman\t<O>\tGrumman\t<O>', '139661077320960\tand\t<O>\tand\t<O>', '139661079156672\tAirbus\t<O>\tAirbus\t<O>', '139661086389312\tparent\t<O>\tparent\t<O>', '139661079156352\tEADS\t<O>\tEADS\t<O>', '139661077323840\tdefeat\t<EVENT>\tdefeat\t<O>', '139661086260992\tBoeing\t<O>\tBoeing\t<O>', '139661078350080\tfor\t<O>\tfor\t<O>', '139661084618880\t$\t<O>\t$\t<O>']

In [3]:
lines = []
for item in text:
    line = item.split()
    lines.append(line)
    
print(len(lines))
print(lines[:20])

25090
[['139661077321344', 'Northrop', '<O>', 'Northrop', '<O>'], ['139661077320704', 'Grumman', '<O>', 'Grumman', '<O>'], ['139661077320960', 'and', '<O>', 'and', '<O>'], ['139661079156672', 'Airbus', '<O>', 'Airbus', '<O>'], ['139661086389312', 'parent', '<O>', 'parent', '<O>'], ['139661079156352', 'EADS', '<O>', 'EADS', '<O>'], ['139661077323840', 'defeat', '<EVENT>', 'defeat', '<O>'], ['139661086260992', 'Boeing', '<O>', 'Boeing', '<O>'], ['139661078350080', 'for', '<O>', 'for', '<O>'], ['139661084618880', '$', '<O>', '$', '<O>'], ['139661090883520', '40', '<O>', '40', '<O>'], ['139661077323776', 'billion', '<O>', 'billion', '<O>'], ['139661077321920', 'US', '<O>', 'US', '<O>'], ['139661079156288', 'airtanker', '<O>', 'airtanker', '<O>'], ['139661079156480', 'contract', '<O>', 'contract', '<O>'], [], ['139661077323968', 'March', '<O>', 'March', '<O>'], ['139662607769152', '01', '<O>', '01', '<O>'], ['139661077323520', '2008', '<O>', '2008', '<O>'], []]

In [4]:
lines_O = []
for line in lines:
    if len(line) ==5 and line[4] == 'O':
        lines_O.append(line)
    lines_O
    
print(lines_O)
print(len(lines_O))

[['139661077703104', 'mid-2011', '<O>', 'mid-2011', 'O'], ['139661077839040', 'business', '<O>', 'business', 'O'], ['139661076640256', 'TV', '<O>', 'TV', 'O'], ['139661077023872', 'points', '<O>', 'points.', 'O']]
4

In [5]:
lines_EVENT = []
for line in lines:
    if len(line) ==5 and line[4] == 'EVENT':
        lines_EVENT.append(line)
    lines_EVENT
    
print(len(lines_EVENT))
print(lines_EVENT[:20])

617
[['139661077390656', 'It', '<O>', 'It', 'EVENT'], ['139661077388864', 'is', '<O>', 'is', 'EVENT'], ['139661077390464', 'being', '<O>', 'being', 'EVENT'], ['139661077390528', 'billed', '<EVENT>', 'billed', 'EVENT'], ['139661077390592', 'as', '<O>', 'as', 'EVENT'], ['139661077390400', 'the', '<O>', 'the', 'EVENT'], ['139661077390976', 'first', '<O>', 'first', 'EVENT'], ['139661077390912', 'time', '<O>', 'time', 'EVENT'], ['139661077390848', 'it', '<O>', 'it', 'EVENT'], ['139661077389248', 'has', '<O>', 'has', 'EVENT'], ['139661077391040', 'carried', '<EVENT>', 'carried', 'EVENT'], ['139661077391104', 'a', '<O>', 'a', 'EVENT'], ['139661077391168', 'near-normal', '<O>', 'near-normal', 'EVENT'], ['139661077391232', 'number', '<O>', 'number', 'EVENT'], ['139661077391296', 'of', '<O>', 'of', 'EVENT'], ['139661077391360', 'passengers', '<O>', 'passengers', 'EVENT'], ['139661077391424', 'though', '<O>', 'though', 'EVENT'], ['139661077391488', 'most', '<O>', 'most', 'EVENT'], ['139661077391552', 'will', '<O>', 'will', 'EVENT'], ['139661077391616', 'be', '<EVENT>', 'be', 'EVENT']]

In [6]:
new_lines = []
for line in lines_O:
    if len(line) ==5 and 'O' in line[4]:# Tags such as <O>. or O appear occassionally
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:# Tags such as <EVENT>. or EVENT appear occassionally
        line[4] = '<EVENT>'
    new_lines.append(line)
        
print(len(new_lines))
print(new_lines)

4
[['139661077703104', 'mid-2011', '<O>', 'mid-2011', '<O>'], ['139661077839040', 'business', '<O>', 'business', '<O>'], ['139661076640256', 'TV', '<O>', 'TV', '<O>'], ['139661077023872', 'points', '<O>', 'points.', '<O>']]

In [7]:
new_lines = []
for line in lines_EVENT:
    if len(line) ==5 and 'O' in line[4]:
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:
        line[4] = '<EVENT>'
    new_lines.append(line)

print(len(new_lines))
print(new_lines[:20])

617
[['139661077390656', 'It', '<O>', 'It', '<EVENT>'], ['139661077388864', 'is', '<O>', 'is', '<EVENT>'], ['139661077390464', 'being', '<O>', 'being', '<EVENT>'], ['139661077390528', 'billed', '<EVENT>', 'billed', '<EVENT>'], ['139661077390592', 'as', '<O>', 'as', '<EVENT>'], ['139661077390400', 'the', '<O>', 'the', '<EVENT>'], ['139661077390976', 'first', '<O>', 'first', '<EVENT>'], ['139661077390912', 'time', '<O>', 'time', '<EVENT>'], ['139661077390848', 'it', '<O>', 'it', '<EVENT>'], ['139661077389248', 'has', '<O>', 'has', '<EVENT>'], ['139661077391040', 'carried', '<EVENT>', 'carried', '<EVENT>'], ['139661077391104', 'a', '<O>', 'a', '<EVENT>'], ['139661077391168', 'near-normal', '<O>', 'near-normal', '<EVENT>'], ['139661077391232', 'number', '<O>', 'number', '<EVENT>'], ['139661077391296', 'of', '<O>', 'of', '<EVENT>'], ['139661077391360', 'passengers', '<O>', 'passengers', '<EVENT>'], ['139661077391424', 'though', '<O>', 'though', '<EVENT>'], ['139661077391488', 'most', '<O>', 'most', '<EVENT>'], ['139661077391552', 'will', '<O>', 'will', '<EVENT>'], ['139661077391616', 'be', '<EVENT>', 'be', '<EVENT>']]

In [8]:
lines_O = []
for line in lines:
    if len(line) ==5 and line[4] == 'O':
        lines_O.append(line)
    lines_O

print(len(lines_O))   
print(lines_O)

0
[]

In [9]:
lines_EVENT = []
for line in lines:
    if len(line) ==5 and line[4] == 'EVENT':
        lines_EVENT.append(line)
    lines_EVENT

print(len(lines_EVENT))
print(lines_EVENT)

0
[]

In [10]:
adjusted_lines = []
for line in lines:
    if len(line) ==5 and 'O' in line[4]:
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:
        line[4] = '<EVENT>'
    else:
        line
    adjusted_lines.append(line)

print(len(adjusted_lines))
print(adjusted_lines[:20])

25090
[['139661077321344', 'Northrop', '<O>', 'Northrop', '<O>'], ['139661077320704', 'Grumman', '<O>', 'Grumman', '<O>'], ['139661077320960', 'and', '<O>', 'and', '<O>'], ['139661079156672', 'Airbus', '<O>', 'Airbus', '<O>'], ['139661086389312', 'parent', '<O>', 'parent', '<O>'], ['139661079156352', 'EADS', '<O>', 'EADS', '<O>'], ['139661077323840', 'defeat', '<EVENT>', 'defeat', '<O>'], ['139661086260992', 'Boeing', '<O>', 'Boeing', '<O>'], ['139661078350080', 'for', '<O>', 'for', '<O>'], ['139661084618880', '$', '<O>', '$', '<O>'], ['139661090883520', '40', '<O>', '40', '<O>'], ['139661077323776', 'billion', '<O>', 'billion', '<O>'], ['139661077321920', 'US', '<O>', 'US', '<O>'], ['139661079156288', 'airtanker', '<O>', 'airtanker', '<O>'], ['139661079156480', 'contract', '<O>', 'contract', '<O>'], [], ['139661077323968', 'March', '<O>', 'March', '<O>'], ['139662607769152', '01', '<O>', '01', '<O>'], ['139661077323520', '2008', '<O>', '2008', '<O>'], []]

In [11]:
replaced_lines = []
for line in adjusted_lines:
    line = '\t'.join(line)
    replaced_lines.append(line)

print(len(replaced_lines))
print(replaced_lines[:20])

25090
['139661077321344\tNorthrop\t<O>\tNorthrop\t<O>', '139661077320704\tGrumman\t<O>\tGrumman\t<O>', '139661077320960\tand\t<O>\tand\t<O>', '139661079156672\tAirbus\t<O>\tAirbus\t<O>', '139661086389312\tparent\t<O>\tparent\t<O>', '139661079156352\tEADS\t<O>\tEADS\t<O>', '139661077323840\tdefeat\t<EVENT>\tdefeat\t<O>', '139661086260992\tBoeing\t<O>\tBoeing\t<O>', '139661078350080\tfor\t<O>\tfor\t<O>', '139661084618880\t$\t<O>\t$\t<O>', '139661090883520\t40\t<O>\t40\t<O>', '139661077323776\tbillion\t<O>\tbillion\t<O>', '139661077321920\tUS\t<O>\tUS\t<O>', '139661079156288\tairtanker\t<O>\tairtanker\t<O>', '139661079156480\tcontract\t<O>\tcontract\t<O>', '', '139661077323968\tMarch\t<O>\tMarch\t<O>', '139662607769152\t01\t<O>\t01\t<O>', '139661077323520\t2008\t<O>\t2008\t<O>', '']

In [12]:
new_text = '\n'.join(replaced_lines)

print(new_text[:2000])

139661077321344	Northrop	<O>	Northrop	<O>
139661077320704	Grumman	<O>	Grumman	<O>
139661077320960	and	<O>	and	<O>
139661079156672	Airbus	<O>	Airbus	<O>
139661086389312	parent	<O>	parent	<O>
139661079156352	EADS	<O>	EADS	<O>
139661077323840	defeat	<EVENT>	defeat	<O>
139661086260992	Boeing	<O>	Boeing	<O>
139661078350080	for	<O>	for	<O>
139661084618880	$	<O>	$	<O>
139661090883520	40	<O>	40	<O>
139661077323776	billion	<O>	billion	<O>
139661077321920	US	<O>	US	<O>
139661079156288	airtanker	<O>	airtanker	<O>
139661079156480	contract	<O>	contract	<O>

139661077323968	March	<O>	March	<O>
139662607769152	01	<O>	01	<O>
139661077323520	2008	<O>	2008	<O>

139661077323072	Northrop	<O>	Northrop	<O>
139661085075584	Grumman	<O>	Grumman	<O>
139661077322432	and	<O>	and	<O>
139661077322112	Airbus	<O>	Airbus	<O>
139661110548480	parent	<O>	parent	<O>
139661077321088	company	<O>	company	<O>
139661077321408	European	<O>	European	<O>
139661077320256	Aeronautic	<O>	Aeronautic	<O>
139661077320576	Defence	<O>	Defence	<O>
139661077320768	and	<O>	and	<O>
139661077319744	Space	<O>	Space	<O>
139661077319488	Company	<O>	Company	<O>
139661077320192	EADS	<O>	EADS	<O>
139661077320512	N.V.	<O>	N.V.	<O>
139661077319808	(	<O>	(	<O>
139661077316160	EADS	<O>	EADS	<O>
139661077319872	)	<O>	)	<O>
139661077318400	have	<O>	have	<O>
139661077320320	unexpectedly	<O>	unexpectedly	<O>
139661077317760	defeated	<EVENT>	defeated	<O>
139661077319936	Boeing	<O>	Boeing	<O>
139661077316672	for	<O>	for	<O>
139661077318336	a	<O>	a	<O>
139661077318720	US$	<O>	US$	<O>
139661077317568	40	<O>	40	<O>
139661077316544	billion	<O>	billion	<O>
139661079165184	(	<O>	(	<O>
139661079198144	GB	<O>	GB	<O>
139661079164992	#	<O>	#	<O>
139661079197952	20.1	<O>	20.1	<O>
139661079198080	billion	<O>	billion	<O>
139661079156736	)	<O>	)	<O>
139661077319680	contract	<O>	contract	<O>
139661085075264	to	<O>	to	<O>
139661079156544	supply	<EVENT>	supply	<O>
139661077318528	the	<O>	the	<O>
139661077319360	United	<O>	United	<O>
139661077319424	States

In [15]:
with open('MNT_zero_shot_gold_predicted_1806_corrected.txt', 'w', encoding='utf8') as outfile:
        outfile.write(new_text)

In [15]:
with open('MNT_zero_shot_gold_predicted_1806_corrected.txt', encoding='utf8') as infile:
    text = infile.read()

In [16]:
print(text[:2000])

139661077321344	Northrop	<O>	Northrop	<O>
139661077320704	Grumman	<O>	Grumman	<O>
139661077320960	and	<O>	and	<O>
139661079156672	Airbus	<O>	Airbus	<O>
139661086389312	parent	<O>	parent	<O>
139661079156352	EADS	<O>	EADS	<O>
139661077323840	defeat	<EVENT>	defeat	<O>
139661086260992	Boeing	<O>	Boeing	<O>
139661078350080	for	<O>	for	<O>
139661084618880	$	<O>	$	<O>
139661090883520	40	<O>	40	<O>
139661077323776	billion	<O>	billion	<O>
139661077321920	US	<O>	US	<O>
139661079156288	airtanker	<O>	airtanker	<O>
139661079156480	contract	<O>	contract	<O>

139661077323968	March	<O>	March	<O>
139662607769152	01	<O>	01	<O>
139661077323520	2008	<O>	2008	<O>

139661077323072	Northrop	<O>	Northrop	<O>
139661085075584	Grumman	<O>	Grumman	<O>
139661077322432	and	<O>	and	<O>
139661077322112	Airbus	<O>	Airbus	<O>
139661110548480	parent	<O>	parent	<O>
139661077321088	company	<O>	company	<O>
139661077321408	European	<O>	European	<O>
139661077320256	Aeronautic	<O>	Aeronautic	<O>
139661077320576	Defence	<O>	Defence	<O>
139661077320768	and	<O>	and	<O>
139661077319744	Space	<O>	Space	<O>
139661077319488	Company	<O>	Company	<O>
139661077320192	EADS	<O>	EADS	<O>
139661077320512	N.V.	<O>	N.V.	<O>
139661077319808	(	<O>	(	<O>
139661077316160	EADS	<O>	EADS	<O>
139661077319872	)	<O>	)	<O>
139661077318400	have	<O>	have	<O>
139661077320320	unexpectedly	<O>	unexpectedly	<O>
139661077317760	defeated	<EVENT>	defeated	<O>
139661077319936	Boeing	<O>	Boeing	<O>
139661077316672	for	<O>	for	<O>
139661077318336	a	<O>	a	<O>
139661077318720	US$	<O>	US$	<O>
139661077317568	40	<O>	40	<O>
139661077316544	billion	<O>	billion	<O>
139661079165184	(	<O>	(	<O>
139661079198144	GB	<O>	GB	<O>
139661079164992	#	<O>	#	<O>
139661079197952	20.1	<O>	20.1	<O>
139661079198080	billion	<O>	billion	<O>
139661079156736	)	<O>	)	<O>
139661077319680	contract	<O>	contract	<O>
139661085075264	to	<O>	to	<O>
139661079156544	supply	<EVENT>	supply	<O>
139661077318528	the	<O>	the	<O>
139661077319360	United	<O>	United	<O>
139661077319424	States

In [17]:
text = text.split('\n')
print(len(text))
print(text[:10])

25090
['139661077321344\tNorthrop\t<O>\tNorthrop\t<O>', '139661077320704\tGrumman\t<O>\tGrumman\t<O>', '139661077320960\tand\t<O>\tand\t<O>', '139661079156672\tAirbus\t<O>\tAirbus\t<O>', '139661086389312\tparent\t<O>\tparent\t<O>', '139661079156352\tEADS\t<O>\tEADS\t<O>', '139661077323840\tdefeat\t<EVENT>\tdefeat\t<O>', '139661086260992\tBoeing\t<O>\tBoeing\t<O>', '139661078350080\tfor\t<O>\tfor\t<O>', '139661084618880\t$\t<O>\t$\t<O>']

In [18]:
ids = []
tokens = []
gold_labels = []
predicted_labels = []

In [19]:
line_items = []
for line in text:
    items = line.split()
    line_items.append(items)

print(len(line_items))
print(line_items[:20])

25090
[['139661077321344', 'Northrop', '<O>', 'Northrop', '<O>'], ['139661077320704', 'Grumman', '<O>', 'Grumman', '<O>'], ['139661077320960', 'and', '<O>', 'and', '<O>'], ['139661079156672', 'Airbus', '<O>', 'Airbus', '<O>'], ['139661086389312', 'parent', '<O>', 'parent', '<O>'], ['139661079156352', 'EADS', '<O>', 'EADS', '<O>'], ['139661077323840', 'defeat', '<EVENT>', 'defeat', '<O>'], ['139661086260992', 'Boeing', '<O>', 'Boeing', '<O>'], ['139661078350080', 'for', '<O>', 'for', '<O>'], ['139661084618880', '$', '<O>', '$', '<O>'], ['139661090883520', '40', '<O>', '40', '<O>'], ['139661077323776', 'billion', '<O>', 'billion', '<O>'], ['139661077321920', 'US', '<O>', 'US', '<O>'], ['139661079156288', 'airtanker', '<O>', 'airtanker', '<O>'], ['139661079156480', 'contract', '<O>', 'contract', '<O>'], [], ['139661077323968', 'March', '<O>', 'March', '<O>'], ['139662607769152', '01', '<O>', '01', '<O>'], ['139661077323520', '2008', '<O>', '2008', '<O>'], []]

In [20]:
print(line_items[0])

['139661077321344', 'Northrop', '<O>', 'Northrop', '<O>']

In [21]:
for line in line_items:
    if len(line) ==5:
        ids.append(line[0])
        tokens.append(line[1])
        gold_labels.append(line[2])
        predicted_labels.append(line[4])

In [22]:
print(len(ids))
print(len(tokens))
print(len(gold_labels))
print(len(predicted_labels))

23974
23974
23974
23974

In [23]:
print(ids[:20])
print(tokens[:20])
print(gold_labels[:20])
print(predicted_labels[:20])

['139661077321344', '139661077320704', '139661077320960', '139661079156672', '139661086389312', '139661079156352', '139661077323840', '139661086260992', '139661078350080', '139661084618880', '139661090883520', '139661077323776', '139661077321920', '139661079156288', '139661079156480', '139661077323968', '139662607769152', '139661077323520', '139661077323072', '139661085075584']
['Northrop', 'Grumman', 'and', 'Airbus', 'parent', 'EADS', 'defeat', 'Boeing', 'for', '$', '40', 'billion', 'US', 'airtanker', 'contract', 'March', '01', '2008', 'Northrop', 'Grumman']
['<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>']
['<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>']

In [25]:
import pandas as pd

In [26]:
df_gold = pd.DataFrame({
    "id": ids,
    "token": tokens,
    "gold_label": gold_labels
})
df_gold

                    id     token gold_label
0      139661077321344  Northrop        <O>
1      139661077320704   Grumman        <O>
2      139661077320960       and        <O>
3      139661079156672    Airbus        <O>
4      139661086389312    parent        <O>
...                ...       ...        ...
23969  139661077094784   billion        <O>
23970  139661077094848        to        <O>
23971  139661077094912       US$        <O>
23972  139661077094976        27        <O>
23973  139661077095040   billion        <O>

[23974 rows x 3 columns]

In [27]:
df_predicted = pd.DataFrame({
    "id": ids,
    "token": tokens,
    "predicted_label": predicted_labels
})
df_predicted

                    id     token predicted_label
0      139661077321344  Northrop             <O>
1      139661077320704   Grumman             <O>
2      139661077320960       and             <O>
3      139661079156672    Airbus             <O>
4      139661086389312    parent             <O>
...                ...       ...             ...
23969  139661077094784   billion             <O>
23970  139661077094848        to             <O>
23971  139661077094912       US$             <O>
23972  139661077094976        27             <O>
23973  139661077095040   billion             <O>

[23974 rows x 3 columns]

In [28]:
df_gold.to_csv('MNT_zero_shot_gold_equal_length_without_commas_fullstops.csv')

In [29]:
df_predicted.to_csv('MNT_zero_shot_predicted_equal_length_without_commas_fullstops.csv')

In [30]:
df=pd.read_csv('MNT_zero_shot_gold_equal_length_without_commas_fullstops.csv')
df

       Unnamed: 0               id     token gold_label
0               0  139661077321344  Northrop        <O>
1               1  139661077320704   Grumman        <O>
2               2  139661077320960       and        <O>
3               3  139661079156672    Airbus        <O>
4               4  139661086389312    parent        <O>
...           ...              ...       ...        ...
23969       23969  139661077094784   billion        <O>
23970       23970  139661077094848        to        <O>
23971       23971  139661077094912       US$        <O>
23972       23972  139661077094976        27        <O>
23973       23973  139661077095040   billion        <O>

[23974 rows x 4 columns]

In [35]:
df2=pd.read_csv('MNT_zero_shot_predicted_equal_length_without_commas_fullstops.csv')
df2

       Unnamed: 0               id     token predicted_label
0               0  139661077321344  Northrop             <O>
1               1  139661077320704   Grumman             <O>
2               2  139661077320960       and             <O>
3               3  139661079156672    Airbus             <O>
4               4  139661086389312    parent             <O>
...           ...              ...       ...             ...
23969       23969  139661077094784   billion             <O>
23970       23970  139661077094848        to             <O>
23971       23971  139661077094912       US$             <O>
23972       23972  139661077094976        27             <O>
23973       23973  139661077095040   billion             <O>

[23974 rows x 4 columns]

In [36]:
df.head(40)

    Unnamed: 0               id         token gold_label
0            0  139661077321344      Northrop        <O>
1            1  139661077320704       Grumman        <O>
2            2  139661077320960           and        <O>
3            3  139661079156672        Airbus        <O>
4            4  139661086389312        parent        <O>
5            5  139661079156352          EADS        <O>
6            6  139661077323840        defeat    <EVENT>
7            7  139661086260992        Boeing        <O>
8            8  139661078350080           for        <O>
9            9  139661084618880             $        <O>
10          10  139661090883520            40        <O>
11          11  139661077323776       billion        <O>
12          12  139661077321920            US        <O>
13          13  139661079156288     airtanker        <O>
14          14  139661079156480      contract        <O>
15          15  139661077323968         March        <O>
16          16  139662607769152            01        <O>
17          17  139661077323520          2008        <O>
18          18  139661077323072      Northrop        <O>
19          19  139661085075584       Grumman        <O>
20          20  139661077322432           and        <O>
21          21  139661077322112        Airbus        <O>
22          22  139661110548480        parent        <O>
23          23  139661077321088       company        <O>
24          24  139661077321408      European        <O>
25          25  139661077320256    Aeronautic        <O>
26          26  139661077320576       Defence        <O>
27          27  139661077320768           and        <O>
28          28  139661077319744         Space        <O>
29          29  139661077319488       Company        <O>
30          30  139661077320192          EADS        <O>
31          31  139661077320512          N.V.        <O>
32          32  139661077319808             (        <O>
33          33  139661077316160          EADS        <O>
34          34  139661077319872             )        <O>
35          35  139661077318400          have        <O>
36          36  139661077320320  unexpectedly        <O>
37          37  139661077317760      defeated    <EVENT>
38          38  139661077319936        Boeing        <O>
39          39  139661077316672           for        <O>

In [37]:
df2.head(40)

    Unnamed: 0               id         token predicted_label
0            0  139661077321344      Northrop             <O>
1            1  139661077320704       Grumman             <O>
2            2  139661077320960           and             <O>
3            3  139661079156672        Airbus             <O>
4            4  139661086389312        parent             <O>
5            5  139661079156352          EADS             <O>
6            6  139661077323840        defeat             <O>
7            7  139661086260992        Boeing             <O>
8            8  139661078350080           for             <O>
9            9  139661084618880             $             <O>
10          10  139661090883520            40             <O>
11          11  139661077323776       billion             <O>
12          12  139661077321920            US             <O>
13          13  139661079156288     airtanker             <O>
14          14  139661079156480      contract             <O>
15          15  139661077323968         March             <O>
16          16  139662607769152            01             <O>
17          17  139661077323520          2008             <O>
18          18  139661077323072      Northrop             <O>
19          19  139661085075584       Grumman             <O>
20          20  139661077322432           and             <O>
21          21  139661077322112        Airbus             <O>
22          22  139661110548480        parent             <O>
23          23  139661077321088       company             <O>
24          24  139661077321408      European             <O>
25          25  139661077320256    Aeronautic             <O>
26          26  139661077320576       Defence             <O>
27          27  139661077320768           and             <O>
28          28  139661077319744         Space             <O>
29          29  139661077319488       Company             <O>
30          30  139661077320192          EADS             <O>
31          31  139661077320512          N.V.             <O>
32          32  139661077319808             (             <O>
33          33  139661077316160          EADS             <O>
34          34  139661077319872             )             <O>
35          35  139661077318400          have             <O>
36          36  139661077320320  unexpectedly             <O>
37          37  139661077317760      defeated             <O>
38          38  139661077319936        Boeing             <O>
39          39  139661077316672           for             <O>