In [1]:
from openai import OpenAI

In [2]:
import csv
from csv import writer
import pandas as pd

In [3]:
# The contents of this cell are adopted from
# https://github.com/UG-Team-Data-Science/ai-in-edu/blob/main/utils.py
# created by Michiel van der Ree.

openai_api_key = "EMPTY"
openai_api_base = "http://localhost:8000/v1"
model = "meta-llama/Meta-Llama-3-8B-Instruct"

client = OpenAI(
    api_key=openai_api_key,
    base_url=openai_api_base,
)

def format_history(message, history, system_prompt):
    chat_history = [{"role": "system", "content": system_prompt}]
    for query, response in history:
        chat_history.append({"role": "user", "content": query})
        chat_history.append({"role": "assistant", "content": response})
    chat_history.append({"role": "user", "content": message})
    return chat_history


def prompt_model(
    message,
    history=None,
    system_prompt="You are a powerful annotator of event triggers and non-event triggers",
):
    chat_history = format_history(message, history if history else [], system_prompt)
    response = client.chat.completions.create(model=model, messages=chat_history)
    return response.choices[0].message.content

In [6]:
df1 = pd.read_csv('MNT_TEST_list_of_sentences.csv')
df1

      Unnamed: 0                                          sentences
0              0  Northrop Grumman and Airbus parent EADS defeat...
1              1                                     March 01, 2008
2              2  Northrop Grumman and Airbus parent company Eur...
3              3  It is the biggest contract of its kind since t...
4              4  That contract was fought for between Boeing an...
...          ...                                                ...
1110        1110                                 September 18, 2008
1111        1111  Stock indexes around the globe reacted favorab...
1112        1112  At 0800 UTC, the Bank of Canada, the Bank of E...
1113        1113  The credit arrangements, also known as `` swap...
1114        1114  Totaling US$ 180 billion, the Federal Reserve ...

[1115 rows x 2 columns]

In [7]:
df2 = pd.read_csv('set_of_examples_for_MNT.csv')
df2

,Unnamed: 0,example1_MNT,example2_MNT,example3_TimeML,example4_TimeML
0,0,Sentence:\nScott rejects Bar's lists\n\nAnnota...,Sentence:\nTHE JAPANESE GOVERNMENT STATED ON A...,Sentence:\n Aetna Life amp Casualty Co.'s thir...,Sentence:\nCoast Savings Financial Inc..\n\nAn...
1,1,Sentence:\nTimes / Herald Tallahassee Bureau\n...,Sentence:\nTHIS WAS AFTER A SENIOR LAWMAKER SA...,Sentence:\nCatastrophe losses reduced Aetna's ...,"Sentence:\nreported a third-quarter loss, citi..."
2,2,"Sentence:\nTALLAHASSEE — Gov. Rick Scott, seek...",Sentence:\nBODY: 1.\n\nAnnotated sentence:\n\n...,Sentence:\nLast year catastrophe losses totale...,Sentence:\nThe Los Angeles thrift holding comp...
3,3,Sentence:\nScott has rejected dozens of attorn...,Sentence:\nTHE JAPANESE GOVERNMENT STATED ON A...,Sentence:\nThe year-earlier results have been ...,"Sentence:\nCoast earned $ 10.2 million, or 67 ..."
4,4,"Sentence:\n' ' He wants people with humility, ...",Sentence:\nTHIS WAS AFTER A SENIOR LAWMAKER SA...,Sentence:\nThe insurer has started processing ...,Sentence:\nThe year-ago results have been rest...
...,...,...,...,...,...
1110,1110,Sentence:\nJAPAN (JP)\n\nAnnotated sentence:\n...,Sentence:\nOH rang me at 8pm as he does every ...,"Sentence:\nMarkets Stocks: Volume 170,330,000 ...",Sentence:\nThe U.S. government already has con...
1111,1111,Sentence:\nTOPIC:\n\nAnnotated sentence:\n\nTO...,"Sentence:\nMany other items such as my laptop,...","Sentence:\nDow Jones industrials 2596.72, off ...","Sentence:\nOn Friday, the Kenyan government pl..."
1112,1112,Sentence:\nPROLIFERATION;\n\nAnnotated sentenc...,Sentence:\nWe had returned from holiday the we...,Sentence:\nBonds: Shearson Lehman Hutton Treas...,Sentence:\nAVON RENT-A-CAR amp TRUCK Corp..\n\...
1113,1113,Sentence:\nPOLITICS\n\nAnnotated sentence:\n\n...,Sentence:\nWe had been hearing stories when we...,Sentence:\nCommodities: Dow Jones futures inde...,Sentence:\nsaid it declared a dividend of one ...
1114,1114,Sentence:\nSUMMARY:\n\nAnnotated sentence:\n\n...,Sentence:\nWe told the police this and explain...,"Sentence:\nDollar: 141.65 yen, off 0.45; 1.830...","Sentence:\nCurrently, Avon, based in Santa Mon..."

In [8]:
df2['sentences_MNT_TEST'] = df1['sentences']

In [9]:
df2.head()

,Unnamed: 0,example1_MNT,example2_MNT,example3_TimeML,example4_TimeML,sentences_MNT_TEST
0,0,Sentence:\nScott rejects Bar's lists\n\nAnnota...,Sentence:\nTHE JAPANESE GOVERNMENT STATED ON A...,Sentence:\n Aetna Life amp Casualty Co.'s thir...,Sentence:\nCoast Savings Financial Inc..\n\nAn...,Northrop Grumman and Airbus parent EADS defeat...
1,1,Sentence:\nTimes / Herald Tallahassee Bureau\n...,Sentence:\nTHIS WAS AFTER A SENIOR LAWMAKER SA...,Sentence:\nCatastrophe losses reduced Aetna's ...,"Sentence:\nreported a third-quarter loss, citi...","March 01, 2008"
2,2,"Sentence:\nTALLAHASSEE — Gov. Rick Scott, seek...",Sentence:\nBODY: 1.\n\nAnnotated sentence:\n\n...,Sentence:\nLast year catastrophe losses totale...,Sentence:\nThe Los Angeles thrift holding comp...,Northrop Grumman and Airbus parent company Eur...
3,3,Sentence:\nScott has rejected dozens of attorn...,Sentence:\nTHE JAPANESE GOVERNMENT STATED ON A...,Sentence:\nThe year-earlier results have been ...,"Sentence:\nCoast earned $ 10.2 million, or 67 ...",It is the biggest contract of its kind since t...
4,4,"Sentence:\n' ' He wants people with humility, ...",Sentence:\nTHIS WAS AFTER A SENIOR LAWMAKER SA...,Sentence:\nThe insurer has started processing ...,Sentence:\nThe year-ago results have been rest...,That contract was fought for between Boeing an...

In [11]:
print(df2['example1_MNT'][111])

Sentence:
U.S. Rep. Ed Pastor, D - Ariz., the first Hispanic from Arizona elected to Congress and the senior member of the state ' s House delegation, announced Thursday he will retire after completing 23 years in Washington.

Annotated sentence:

U.S.	<O>
Rep.	<O>
Ed	<O>
Pastor	<O>
,	<O>
D	<O>
-	<O>
Ariz	<O>
.	<O>
,	<O>
the	<O>
first	<O>
Hispanic	<O>
from	<O>
Arizona	<O>
elected	<EVENT>
to	<O>
Congress	<O>
and	<O>
the	<O>
senior	<O>
member	<O>
of	<O>
the	<O>
state	<O>
'	<O>
s	<O>
House	<O>
delegation	<O>
,	<O>
announced	<EVENT>
Thursday	<O>
he	<O>
will	<O>
retire	<EVENT>
after	<O>
completing	<EVENT>
23	<O>
years	<O>
in	<EVENT>
Washington	<O>
.	<O>

In [12]:
sentences = []
prompts = []
responses = []

for idx, row in df2.iloc[0:].iterrows():    
    example1=row['example1_MNT']
    example2=row['example2_MNT']
    example3=row['example3_TimeML']
    example4=row['example4_TimeML']
    sentence=row['sentences_MNT_TEST']
    prompt = f"""Here are four correct examples for annotating event triggers and non-event triggers of a sentence.
The examples are marked by the headers 'Example1', 'Example2', 'Example3', and 'Example4'.
In the case of each example, you can see the header, a sentence after 'Sentence:', and the annotated version of the sentence after 'Annotated sentence:'.
In the case of the annotated sentence, each line contains a token and its associated annotation tag. Event triggers are annotated with the tag <EVENT> and non-event triggers are annotated with the tag <O>.

Example1

{example1}

Example2

{example2}

Example3

{example3}

Example4

{example4}

This is the end of the four correct examples for annotating event triggers and non-event triggers.

Now, I am giving you a new sentence.

New sentence:
{sentence}

The same way as in the above examples, annotate all event triggers with the tag <EVENT> and non-event triggers with the tag <O> of the new sentence.
Provide your response after the tag 'Annotated sentence:'.
Do not add any extra introduction, notes or explanation.
"""
    sentences.append(sentence)
    prompts.append(prompt)
    response = prompt_model(prompt)
    responses.append(response)

In [13]:
df3 = pd.DataFrame({
    "sentence": sentences,
    "prompt": prompts,
    "LLM_response": responses
})
df3

,sentence,prompt,LLM_response
0,Northrop Grumman and Airbus parent EADS defeat...,Here are four correct examples for annotating ...,Sentence:\nNorthrop Grumman and Airbus parent ...
1,"March 01, 2008",Here are four correct examples for annotating ...,"Annotated sentence:\n\nMarch\t<O>\n01\t<O>\n,\..."
2,Northrop Grumman and Airbus parent company Eur...,Here are four correct examples for annotating ...,Sentence:\nNorthrop Grumman and Airbus parent ...
3,It is the biggest contract of its kind since t...,Here are four correct examples for annotating ...,Sentence:\nIt is the biggest contract of its k...
4,That contract was fought for between Boeing an...,Here are four correct examples for annotating ...,Example5\n\nSentence:\nThat contract was fough...
...,...,...,...
1110,"September 18, 2008",Here are four correct examples for annotating ...,"Annotated sentence:\n\nSeptember\t<O>\n18,\t<O..."
1111,Stock indexes around the globe reacted favorab...,Here are four correct examples for annotating ...,Annotated sentence:\nStock\t<O>\nindexes\t<O>\...
1112,"At 0800 UTC, the Bank of Canada, the Bank of E...",Here are four correct examples for annotating ...,"Sentence:\nAt 0800 UTC, the Bank of Canada, th..."
1113,"The credit arrangements, also known as `` swap...",Here are four correct examples for annotating ...,Annotated sentence:\n\nThe\t<O>\ncredit\t<O>\n...
1114,"Totaling US$ 180 billion, the Federal Reserve ...",Here are four correct examples for annotating ...,Annotated sentence:\n\nTotaling\t<O>\nUS$\t<O>...

In [14]:
print(df3['LLM_response'][5])

New sentence:
JSA Research defence analysist Paul Nesbit said that Maintenance, Repair and Overhaul (MRO) operations across the aircraft's fifty-year service life could push the value of the contract as high as US$ 100 billion. Indonesia's transport minister tells airlines not to buy European aircraft due to EU ban

Annotated sentence:

JSA	<O>
Research	<O>
defence	<O>
analysist	<O>
Paul	<O>
Nesbit	<O>
said	<EVENT>
that	<O>
Maintenance	<O>
,	<O>
Repair	<O>
and	<O>
Overhaul	<O>
(MRO)	<O>
operations	<O>
across	<O>
the	<O>
aircraft's	<O>
fifty-year	<O>
service	<O>
life	<O>
could	<O>
push	<EVENT>
the	<O>
value	<O>
of	<O>
the	<O>
contract	<O>
as	<O>
high	<O>
as	<O>
US$	<O>
100	<O>
billion	<O>
.	<O>
Indonesia's	<O>
transport	<O>
minister	<O>
tells	<EVENT>
airlines	<O>
not	<O>
to	<O>
buy	<EVENT>
European	<O>
aircraft	<O>
due	<O>
to	<O>
EU	<O>
ban	<O>
.	<O>

In [15]:
df3.to_csv('MNT_TEST_few_shot_withtabs_round2.csv', sep = "\t")

In [16]:
df3.to_csv('MNT_TEST_few_shot_withcommas_round2.csv')

In [17]:
df4 = pd.read_csv('MNT_TEST_few_shot_withtabs_round2.csv', sep = "\t")
df4.head()

,Unnamed: 0,sentence,prompt,LLM_response
0,0,Northrop Grumman and Airbus parent EADS defeat...,Here are four correct examples for annotating ...,Sentence:\nNorthrop Grumman and Airbus parent ...
1,1,"March 01, 2008",Here are four correct examples for annotating ...,"Annotated sentence:\n\nMarch\t<O>\n01\t<O>\n,\..."
2,2,Northrop Grumman and Airbus parent company Eur...,Here are four correct examples for annotating ...,Sentence:\nNorthrop Grumman and Airbus parent ...
3,3,It is the biggest contract of its kind since t...,Here are four correct examples for annotating ...,Sentence:\nIt is the biggest contract of its k...
4,4,That contract was fought for between Boeing an...,Here are four correct examples for annotating ...,Example5\n\nSentence:\nThat contract was fough...

In [18]:
df5 = pd.read_csv('MNT_TEST_few_shot_withcommas_round2.csv')
df5.head()

,Unnamed: 0,sentence,prompt,LLM_response
0,0,Northrop Grumman and Airbus parent EADS defeat...,Here are four correct examples for annotating ...,Sentence:\nNorthrop Grumman and Airbus parent ...
1,1,"March 01, 2008",Here are four correct examples for annotating ...,"Annotated sentence:\n\nMarch\t<O>\n01\t<O>\n,\..."
2,2,Northrop Grumman and Airbus parent company Eur...,Here are four correct examples for annotating ...,Sentence:\nNorthrop Grumman and Airbus parent ...
3,3,It is the biggest contract of its kind since t...,Here are four correct examples for annotating ...,Sentence:\nIt is the biggest contract of its k...
4,4,That contract was fought for between Boeing an...,Here are four correct examples for annotating ...,Example5\n\nSentence:\nThat contract was fough...

In [24]:
print(df5['LLM_response'][5])

New sentence:
JSA Research defence analysist Paul Nesbit said that Maintenance, Repair and Overhaul (MRO) operations across the aircraft's fifty-year service life could push the value of the contract as high as US$ 100 billion. Indonesia's transport minister tells airlines not to buy European aircraft due to EU ban

Annotated sentence:

JSA	<O>
Research	<O>
defence	<O>
analysist	<O>
Paul	<O>
Nesbit	<O>
said	<EVENT>
that	<O>
Maintenance	<O>
,	<O>
Repair	<O>
and	<O>
Overhaul	<O>
(MRO)	<O>
operations	<O>
across	<O>
the	<O>
aircraft's	<O>
fifty-year	<O>
service	<O>
life	<O>
could	<O>
push	<EVENT>
the	<O>
value	<O>
of	<O>
the	<O>
contract	<O>
as	<O>
high	<O>
as	<O>
US$	<O>
100	<O>
billion	<O>
.	<O>
Indonesia's	<O>
transport	<O>
minister	<O>
tells	<EVENT>
airlines	<O>
not	<O>
to	<O>
buy	<EVENT>
European	<O>
aircraft	<O>
due	<O>
to	<O>
EU	<O>
ban	<O>
.	<O>